
<div class="row">
  <div class="col-md-8 add-bid">
  <!-- <div class="col-md-8"><br>   -->
<%= form_for :bid, url: bids_path do |f| %>
  
  <p>
    <%= f.label "Weight to be used (in kgs)" %><br>
    <%= f.number_field :weight_to_be_used, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label :details %><br>
    <%= f.text_area :details, class: "form-control" %>
  </p>
 
  <p>

    <%= f.label :flight_number %><br>
    <%= f.text_field :flight_number %>
  </p>

  <%= hidden_field_tag :post_id, @post.id %>

 <div class="pull-right"><br> 
  <%= button_tag 'Submit', :type=>'submit', :class=>'btn btn-primary'%>
  </div>
 
<% end %>
 </div>
 </div>

