
<div class="row">
  <div class="col-md-8 add-bid">
  <h4>Add bid</h4>
<%= form_for :bid, url: bids_path do |f| %>
  
  <div class="form-group">
    <%= f.label 'Weight: ' %>
    <%= f.number_field :weight, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Flight Number: ' %>
    <%= f.text_field :flight_number, class: "form-control" %>
  </div>
  <!-- </div> -->

    <%#= f.number_field :weight %>
  </p>
 
  <p>
    <%= f.label 'Details: ' %>
    <%= f.text_area :details, class: "form-control" %>
  </p>
 

  <%= hidden_field_tag :post_id, @post.id %>

 <div class="pull-right"><br> 
  <%= button_tag 'Submit', :type=>'submit', :class=>'btn btn-primary'%>
  </div>
 
<% end %>
 </div>
 </div>

