
<h4>Bids</h4>

<% Bid.where(post_id: @post.id).each do |b| %>
  
  <div>
    <strong>Bidder: </strong> <%= Person.find(b.bidder_id).fullname %> <br>
    <strong>Weight: </strong> <%= b.weight_to_be_used %> <br> 
    <strong>Flight Number: </strong> <%= b.flight_number %> <br>
    <strong>Details: </strong> 
    <p>
    <%= b.details %>
    </p>
 
  <%= link_to 'Approve', bid_path %>

  </div>

<% end %>
