
<h2 class='profile-name'>
    <span><img class="profile-pic" src="<%= asset_path 'default_profile.jpg'%>"></span>
    <%= Person.find(@bid.bidder_id).fullname %>
</h2>

<div class="col-md-4">
    <strong>Weight: </strong> <%= @bid.weight %> <br> 
    <strong>Flight Number: </strong> <%= @bid.flight_number %> <br>
    <strong>Details: </strong> 
    <p>
    <%= @bid.details %>
    </p>
    <% if current_user.id %>
    <% if Post.find(@bid.post_id).poster_id == current_user.id %>
      <%= render 'transactions/form' %>
    <% end %>
    <% end %>
 
</div>