<%= form_tag :role=>'form', :action=>'create' do %>

	<div class="row">
  <div class="col-md-8"><br>  
	<%#= label :user, 'Username: ' %>
	<%= text_field :user, :username, :value=>@username, :placeholder=>"Username", class: "form-control" %>
	<!-- </div> -->
	<br>

  <!-- <div class="col-md-8"><br>   -->
	<%#= label :user, 'Password: ' %>
	<%= password_field :user, :password, :placeholder=>'Password', class: "form-control"%>
	<!-- </div> -->
	<br>

	<!-- <div class="col-md-8"><br>   -->
	<%#= label :user, 'Confirm Password: ' %>
	<%= password_field :user, :password_confirmation, :placeholder=>'Confirm password', class: "form-control"%>
	<!-- </div> -->
	<br>

	<%= hidden_field :user, :role, :value=>'admin'%>

	<!-- <div class="col-md-8"><br>   -->
	<%#= label :person, 'First Name: ' %>
	<%= text_field :person, :first_name, :placeholder=>'First name',class: "form-control" %>
	<!-- </div> -->
	<br>
	
	<div class="pull-right"><br> 
	<%= button_tag 'Create Account', :type=>'submit', :class=>'btn btn-primary'%>
	</div>
	</div>
<% end %>
