<%= form_for @post do |f| %>
  <div class="row">
  <!-- <div class="col-md-4"></div> -->
  <div class="col-md-8"><br>  
  
  <%= f.hidden_field :poster_id, :value => current_user.id %>

  <p>
    <%= f.label 'Weight (in kgs): ' %>
    <%= f.number_field :weight, class: "form-control" %>
    </p>
 <p>
    <%= f.label 'Origin: '%>
    <%= f.text_field :origin, class: "form-control" %>
 </p>
 <p>
    <%= f.label 'Desitination: '%>
    <%= f.text_field :destination, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label 'Flight Number: '%>
    <%= f.text_field :flight_number, class: "form-control" %>
  </p>

  <p>
    <%= f.label 'Date of Flight: ' %>
    <% if @post.date_of_flight %>
    <%= text_field_tag :date, @post.date_of_flight.to_time.strftime("%b/%d/%Y %I:%M %p"), class: 'form-control', id:'datetimepicker4' %>
    <% else %>
    <%= text_field_tag :date, @post.date_of_flight, class: 'form-control', id:'datetimepicker4' %>
    <% end %>
  </p>

  <p>
    <%= f.label 'Details: ' %><br>
    <%= f.text_area(:details, size: "50x5", class: "form-control")%>
  </p>

   <p>

   <%= f.label 'Category: ' %>
   <%= f.select(:category, [['Request','request'],['Advertisement','advertisement']], {class: 'form-control'})  %>  
   </p>
  
  

  <%= f.hidden_field :is_active, value: true %>
 
 <div class="pull-right"><br> 
  <%= button_tag 'Submit', :type=>'submit', :class=>'btn btn-primary'%>
  </div>
 
 </div></div>
<% end %>

<script type="text/javascript">
      $(function () {
          $('#datetimepicker4').datetimepicker();
      });
</script>
