<% render 'layouts/header' %>

<%= form_for :post, url: posts_path do |f| %>

  
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </p>
 
  <p>
    <%= f.label :date_of_flight %><br>
    <%= text_field_tag :date, nil, :data => {:provide => "datepicker"}, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </p>

   <p>
  <%= f.label :category %><br>
  <%= f.collection_select(:category, Category.all, :id, :name, 
		{ :prompt => "Select Category" }, { }) %>
	
  
  </p>
 
 <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
