<!-- <<<<<<< HEAD -->
<h3>Share Your Luggage</h3>


<%= form_for :post, url: posts_path do |f| %>
  <div class="row">
  <!-- <div class="col-md-4"></div> -->
  <div class="col-md-8"><br>  
  
  <p>
    <%= f.label :weight %><br>
    <%= f.number_field :weight, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label :date_of_flight %><br>
    <%= text_field_tag :date, nil, :data => {:provide => "datepicker"}, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :details %><br>
    <%= f.text_area(:details, size: "50x5", class: "form-control")%>
  </p>

   <p>
  <%= f.label :category %><br>
  <%= f.collection_select(:category, Category.all, :id, :name, 
		{ :prompt => "Select Category" }, {class: 'form-control'}) %>
	
  
  </p>
 
 <div class="pull-right"><br> 
  <%= button_tag 'Submit', :type=>'submit', :class=>'btn btn-primary'%>
  </div>
 
 </div></div>
<% end %>
 
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<!-- ======= -->
<%= render 'posts/form' %>
<!-- >>>>>>> master -->
