<h1>Search Results</h1>




<% if @posts.length > 0 %>
	<ul class="timeline">
	<% i = 0 %>
	<% @posts.each do |x| %>
		<% if x.category == 'advertisement' %>
	    	<li>
	    	<div class="timeline-badge">
	    	<i class="glyphicon glyphicon-tag"></i>
	    <% else %>
	    	<li class="timeline-inverted" >
		    <div class="timeline-badge warning">
	    	<i class="glyphicon glyphicon-flag"></i>
	    <% end %>
	    </div>
	      <div class="timeline-panel">
	        <div class="timeline-heading">
	          <h4 class="timeline-title">
	          	<%= link_to "From #{x.origin} to #{x.destination}", x %></h4>
	          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> posted on <%= x.created_at.to_time.strftime("%b %d, %Y, %I:%M %P") %> | Category: <%= x.category %></small></p>
	          <div class="timeline-body">
	          	Posted by: <%= User.find(x.poster_id).username %><br>
							Date of Flight: <%= x.date_of_flight.to_time.strftime("%b %d, %Y, %I:%M %P")%><br>
							<% if x.category == 'request' %>
								Weight Needed: 		
							<% else %>
								Weight Offered: 
							<% end %>
							<%= x.weight %> kgs<br>
						</div>
					</div>
				</div>
			</li>
			<% i+=1 %>
	<% end %> 
<% else %>
	No flight matches with flight number: <%= @flight_number %>
<% end %>