
<div class="post-ad">
<h2 class='post-name'>
	<span><img class="profile-pic" src="<%= asset_path 'default_profile.jpg'%>"></span>
	<%= @person_name %>
</h2>
	
<div class='post-content'>
  <div>
  <table class="table">
  	<tr><td>
  		<strong> Weight: </strong> <%= @post.weight %> kgs <br>
  		<strong> Flight Schedule: </strong> <%= @dof_str %> <br>
  		<strong> Ticket ID: </strong> <%= @post.ticket_id %>
  	</td></tr>
  	<tr>
  		<td>
  			 <strong> Details: </strong>
  				<p><%= @post.details %></p>
  		</td>
  	</tr>
  </table>


  <br>
  
  <% if @post.is_active %>
  <% if current_user.id != @post.poster_id %>
  
    <p> 
    <strong> Add Bid </strong>
    <%= render 'bids/form' %>
     </p>
     <br>

  <% end %>

  <%= render 'bids/list' %>
<% else %>

  <strong>This offer is no longer available</strong>

<% end %>
</div>
