<%= form_for :transaction, url: transactions_path do |f| %>
  


  <%= hidden_field_tag :post_id, @bid.post_id %>
  <%= hidden_field_tag :bid_id, @bid.id %>
  <%= hidden_field_tag :poster, Post.find(@bid.post_id).poster_id %>
  <%= hidden_field_tag :bidder, @bid.bidder_id %>
  <%= hidden_field_tag :date, Time.now.strftime("%d/%m/%Y %H:%M") %>
  <%= f.submit "Approve" %>
  
  </p>
 
<% end %>
 

