<nav class="navbar navbar-default color-change navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/asf"><%= image_tag('Logo1-white.png', :class => "img", :alt => "Brand") %></a>
    </div>
     

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav go">
        <li><%= link_to 'Home', root_path %></a></li>

         <% if current_user %>
            <li><%= link_to 'Profile',  user_path(current_user.id) %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Posts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'My Posts',  user_path(id: current_user.id) %></li>
            <li><%= link_to 'Add', new_post_path %></li>
            <li><%= link_to 'My Posts', my_posts_path %></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bids<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Add', new_bid_path %></li>
            <li><%= link_to 'My Bids', my_bids_path %></li>
          </ul>
        </li>
        <% else %>
         <li><%= link_to 'Register', new_user_path %></li>
        <% end %>
      </ul>
      <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->

     <%= form_tag({controller: 'searches', action: 'search_username'}, method: "get", class: 'navbar-form navbar-left') do %>
        <%= text_field_tag :username, nil, placeholder: 'Username', class: 'form-control' %>
        <button type ="submit" class="btn btn-default color-blue"><span class="glyphicon glyphicon-search"></span></button>
    <% end %> 
     

      <ul class="nav navbar-nav navbar-right">
        <li><% if current_user %>
        <p class="navbar-text color-change">Logged in as <strong><%= current_user.username %></strong></p>
    	  <% end %></li>
    	  <li class= "navbar-right">
        <% if current_user %>
      		<!--<button type="submit" class="btn btn-default">Logout</button>-->
        <%= button_to 'Logout', logout_users_path, method: :post, class: "btn btn-default navbar-btn outline", type: "button"%>
        <% else %>
          <!--<button type="submit" class="btn btn-default">Login</button>-->
        <%= button_to 'Login', login_users_path, method: :get, class: "btn btn-default navbar-btn outline", type: "button"%>
        <% end %>
        </div></li>
      </ul>

      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
