<div class="container-fluid">


  <%= form_tag({controller: 'searches', action: 'search_flight_number'}, method: 'get') do %>
      <div class="form-group">
      <%= label_tag :flight_number %><br>
      <%= text_field_tag :flight_number, nil, placeholder: 'Flight number', class: 'form-control' %>
      </div>
      <button type ="submit" class="btn btn-default pull-right">Search</button>
  <% end %> 

</div>
<div class="container-fluid">
  <%= form_tag({controller: 'searches', action: 'search_destination_date'}, method: 'get') do %>
  <div class="form-group">
      <%= label_tag :destination %><br>
      <%= text_field_tag :destination, nil, placeholder: 'Destination', class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= label_tag :origin %><br>
      <%= text_field_tag :origin, nil, placeholder: 'Origin', class: 'form-control' %> 
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Date</label>
    <%= text_field_tag :date, nil, :data => {:provide => "datepicker"}, class: 'form-control' %>
  </div>

  <button type="submit" class="btn btn-default pull-right">Search</button>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
