<!DOCTYPE html>
<html>
<head>
  <title>Flightweight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="wrapper">
    
    <div id="sidebar-wrapper">
        <%= render 'layouts/search' %>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div id="content">
                        <%= yield %>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>

        <footer class="foot-er"><div><%= image_tag('Footer3.png', :class => "img-foot") %></div></footer>

        <!-- <div id="footer" class="footer"><div class="row spread"><%#= image_tag('Footer3.png', :class => "img-foot") %></div></div> -->

      </div>
    </div>
</div>

</body>
</html>